/************************************************************************************************
/* Critical force fixes for font rendering improvement on OSX Safari/Chrome */
/***********************************************************************************************/
h1, h2, h3, h4, h5, h6, a, .btn, em, table td, p, li {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

/************************************************************************************************
/* Font Declarations */
/***********************************************************************************************/
@font-face {
  font-family: GothamLight;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/gothamlightit-webfont.eot");
  src: url("../fonts/gothamlightit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamlightit-webfont.woff") format("woff"), url("../fonts/gothamlightit-webfont.ttf") format("truetype"), url("../fonts/gothamlightit-webfont.svg#GothamLight") format("svg"); }
@font-face {
  font-family: GothamXLight;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/gothamextralight-webfont.eot");
  src: url("../fonts/gothamextralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamextralight-webfont.woff") format("woff"), url("../fonts/gothamextralight-webfont.ttf") format("truetype"), url("../fonts/gothamextralight-webfont.svg#GothamXLight") format("svg"); }
@font-face {
  font-family: GothamMedium;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/gothammedium-webfont.eot");
  src: url("../fonts/gothammedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothammedium-webfont.woff") format("woff"), url("../fonts/gothammedium-webfont.ttf") format("truetype"), url("../fonts/gothammedium-webfont.svg#GothamMedium") format("svg"); }
@font-face {
  font-family: GothamBook;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/gothambook-webfont.eot");
  src: url("../fonts/gothambook-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambook-webfont.woff") format("woff"), url("../fonts/gothambook-webfont.ttf") format("truetype"), url("../fonts/gothambook-webfont.svg#GothamBook") format("svg"); }
@font-face {
  font-family: GothamLightItalic;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/gothamlightit-webfont.eot");
  src: url("../fonts/gothamlightit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamlightit-webfont.woff") format("woff"), url("../fonts/gothamlightit-webfont.ttf") format("truetype"), url("../fonts/gothamlightit-webfont.svg#GothamLightItalic") format("svg"); }
@font-face {
  font-family: ProximaNova;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#ProximaNova") format("svg"); }
@font-face {
  font-family: KulturistaBold;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/kulturista_bold-webfont.eot");
  src: url("../fonts/kulturista_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kulturista_bold-webfont.woff") format("woff"), url("../fonts/kulturista_bold-webfont.ttf") format("truetype"), url("../fonts/kulturista_bold-webfont.svg#KulturistaBold") format("svg"); }
@font-face {
  font-family: KulturistaMedium;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/kulturista_medium-webfont.eot");
  src: url("../fonts/kulturista_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kulturista_medium-webfont.woff") format("woff"), url("../fonts/kulturista_medium-webfont.ttf") format("truetype"), url("../fonts/kulturista_medium-webfont.svg#KulturistaMedium") format("svg"); }
/************************************************************************************************
/* Variables */
/***********************************************************************************************/
/************************************************************************************************
/* Base Styles */
/***********************************************************************************************/
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  background: white; }

html {
  height: 100%;
  width: 100%; }

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  font-weight: 700; }

h3 {
  color: #2c3e50;
  text-transform: none;
  margin-top: 50px;
  text-align: left;
  font: 100 26px "Gothammedium"; }

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }

a:hover,
a:focus {
  text-decoration: none;
  color: inherit; }

/************************************************************************************************
/* Navbar */
/***********************************************************************************************/
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #222; }
  .navbar-custom .nav {
    margin-top: 20px; }
    .navbar-custom .nav li {
      margin-right: 25px; }
      .navbar-custom .nav li a {
        padding: 15px 0;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        padding-bottom: 7px; }
        .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
          outline: none;
          background: transparent;
          border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
      .navbar-custom .nav li.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.2); }
      .navbar-custom .nav li:nth-child(6) {
        border-radius: 4px;
        margin-top: 3px;
        margin-right: 35px; }
        .navbar-custom .nav li:nth-child(6) a {
          padding: 10px 10px;
          border: 2px solid rgba(198, 198, 198, 0);
          background: rgba(255, 255, 255, 0.2);
          border-radius: 4px; }
      .navbar-custom .nav li:last-child {
        margin-top: 5px;
        margin-right: 0; }
        .navbar-custom .nav li:last-child a {
          padding: 10px 15px;
          padding-left: 35px;
          border-left: 1px solid rgba(255, 255, 255, 0.23); }
          .navbar-custom .nav li:last-child a:hover {
            border: none;
            border-left: 1px solid rgba(255, 255, 255, 0.23); }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand .logo-dark {
      display: none; }
    .navbar-custom .navbar-brand .logo-dark-small {
      display: none; }
    .navbar-custom .navbar-brand .logo-light {
      display: block;
      width: 180px;
      margin-top: 15px; }
    .navbar-custom .navbar-brand .logo-light-small {
      display: none; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: #ffffff; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #ffffff; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  @media only screen and (min-width: 768px) {
    .navbar-custom.top-nav-collapse {
      background-color: white;
      padding: 0;
      box-shadow: 0px 0px 3px 0px rgba(41, 43, 51, 0.25); }
      .navbar-custom.top-nav-collapse .navbar-brand .logo-dark {
        display: block;
        height: 55px; }
      .navbar-custom.top-nav-collapse .navbar-brand .logo-light {
        display: none; }
      .navbar-custom.top-nav-collapse .nav {
        margin-top: 16px; }
        .navbar-custom.top-nav-collapse .nav li a {
          color: black;
          padding-bottom: 7px; }
          .navbar-custom.top-nav-collapse .nav li a:hover {
            border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
        .navbar-custom.top-nav-collapse .nav li:nth-child(6) {
          border: 2px solid rgba(198, 198, 198, 0.8);
          margin-top: 1px;
          margin-right: 0;
          margin-right: 35px; }
          .navbar-custom.top-nav-collapse .nav li:nth-child(6) a {
            padding: 10px 10px; }
            .navbar-custom.top-nav-collapse .nav li:nth-child(6) a:hover {
              border-bottom: 2px solid rgba(198, 198, 198, 0); }
        .navbar-custom.top-nav-collapse .nav li:last-child {
          margin-top: 6px; }
          .navbar-custom.top-nav-collapse .nav li:last-child a {
            padding: 10px 15px;
            padding-left: 35px;
            border-left: 1px solid rgba(0, 0, 0, 0.1); }
            .navbar-custom.top-nav-collapse .nav li:last-child a:hover {
              border: none;
              border-left: 1px solid rgba(0, 0, 0, 0.1); }
        .navbar-custom.top-nav-collapse .nav li.active a {
          border-bottom: 2px solid rgba(198, 198, 198, 0.8); }
        .navbar-custom.top-nav-collapse .nav li.cta a {
          border-bottom: none !important; } }

.intro {
  display: table;
  height: auto;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
  background: #DD4815;
  position: relative; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: bottom; }
    .intro .intro-body .select-info {
      margin-top: 20px;
      font-size: 16px; }
  .intro .page-scroller {
    display: table-row;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
    .intro .page-scroller h4 {
      font: 16px "ProximaNova";
      margin-bottom: 20px; }
    .intro .page-scroller img {
      padding-bottom: 30px; }
  .intro ::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2); }
  .intro ::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2); }

::-moz-selection {
  text-shadow: none;
  background: #ededed; }

::selection {
  text-shadow: none;
  background: #ededed; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

.intro-text {
  font: 17px/28px "KulturistaMedium";
  max-width: 800px;
  margin: 0 auto; }

.brand-heading {
  font: 100 54px "GothamMedium";
  text-align: left;
  border-bottom: 4px solid white;
  padding-bottom: 10px;
  margin-bottom: 18px; }
  .brand-heading.invert-heading {
    color: #2c3e50;
    padding-top: 65px;
    font-size: 26px;
    text-align: right;
    border-bottom: 4px solid #DD4815; }

.thin-header {
  font: 100 60px/70px "GothamXLight";
  color: #1b1b1b; }

.body-type {
  font: 16px/27px 'KulturistaMedium';
  color: #1a1a1a;
  text-align: left; }

.subheading {
  font: 17px/28px 'KulturistaMedium';
  max-width: 830px;
  margin: 0 auto;
  text-align: center; }

.landlord-tenant-proceed h3 {
  line-height: 48px; }
.landlord-tenant-proceed a {
  color: rgba(76, 73, 73, 0.8);
  font-style: italic;
  font-size: 18px;
  line-height: 32px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .landlord-tenant-proceed a:hover {
    color: #1a1a1a; }

.second-text-section h5 {
  color: #1B1B1B;
  font: 100 38px/50px 'GothamLightItalic';
  text-align: center;
  min-height: 100px; }
.second-text-section h3 {
  font-size: 32px;
  margin-bottom: 20px; }
.second-text-section .row:nth-child(2) h3, .second-text-section .row:nth-child(3) h3 {
  margin-top: 28px; }

.line-btn {
  margin-bottom: 104px;
  margin-top: 67px; }
  .line-btn .line {
    border-top: 3px solid #010101; }
  .line-btn .mid-btn-cta {
    padding: 20px 13%;
    border: 2px solid #010101;
    color: #010101;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: ProximaNova;
    position: relative;
    top: -7px;
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .line-btn .mid-btn-cta:hover {
      background: #1a1a1a;
      color: white; }

.testimonial-container h3 {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 40px; }
.testimonial-container .thin-header {
  font: 100 30px/49px "GothamXLight"; }
.testimonial-container .left-testimonial, .testimonial-container .right-testimonial {
  margin-top: 96px; }
.testimonial-container .left-testimonial {
  padding-right: 50px; }
.testimonial-container .right-testimonial {
  padding-left: 50px; }

#footer {
  width: 100%;
  background-color: #373945;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 100px; }
  #footer .footer-primary {
    max-width: 970px;
    margin: 0 auto; }
    #footer .footer-primary h4 {
      font: 20px/28px 'KulturistaMedium'; }
    #footer .footer-primary .contact-send-btn {
      max-width: 170px;
      border-radius: 90px; }
  #footer .body-type {
    text-align: center;
    color: white; }

.about-section .body-type {
  font: 17px/28px 'KulturistaMedium';
  max-width: 856px;
  margin: 0 auto; }

.contact-send-btn {
  display: inline-block;
  line-height: 57px;
  height: 60px;
  width: 100%;
  border: 2px solid white;
  font-family: GothamMedium;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .contact-send-btn:hover {
    background: #e6e6e6;
    color: #25282F; }

section.selectfield-container {
  width: 480px;
  float: left; }

.main-cover {
  width: 140px;
  float: right;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .main-cover:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #5F5F5F; }

.service-container {
  width: 640px;
  margin: 0 auto;
  margin-top: 110px; }
  .service-container div[class*='col-'] {
    margin-bottom: 10px; }

@-moz-document url-prefix() {
  #footer .footer-primary input[type="text"] {
    height: 61px;
    padding: 20px; } }
#view-more-link {
  cursor: pointer;
  font-family: "ProximaNova";
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  float: left;
  margin-bottom: 120px; }

.content-section {
  padding-top: 100px; }
  .content-section#about {
    padding-top: 90px;
    padding-bottom: 85px;
    background: #F8F8F8;
    width: 100%; }
    .content-section#about h2 {
      margin-bottom: 55px; }

.contrained-rows .row {
  max-width: 1170px;
  margin: 0 auto; }

.second-px-image {
  padding-top: 0; }

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #ffffff;
  background-color: #000000;
  height: 450px; }
  .download-section.first-image {
    background: url(../img/pale.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed; }
  .download-section.second-image {
    background: url(../img/passion.jpg) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed; }

#footer-secondary {
  background: #25282F;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 250px; }
  #footer-secondary .footer-secondary {
    max-width: 1146px;
    margin: 0 auto; }
    #footer-secondary .footer-secondary .contact-send-btn {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
      #footer-secondary .footer-secondary .contact-send-btn:hover {
        background: #e6e6e6;
        color: #25282F; }
    #footer-secondary .footer-secondary .logo-light-large {
      height: 55px;
      display: block;
      margin-bottom: 20px; }
    #footer-secondary .footer-secondary .col-lg-3 {
      padding-left: 0; }
    #footer-secondary .footer-secondary .footer-links {
      padding-left: 0; }
      #footer-secondary .footer-secondary .footer-links li {
        text-align: left;
        list-style-type: none;
        padding-top: 10px;
        font: 900 14px ProximaNova;
        text-transform: uppercase;
        color: white; }
        #footer-secondary .footer-secondary .footer-links li a {
          font: 900 14px ProximaNova;
          text-transform: uppercase;
          color: white;
          -webkit-transition: 0.15s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
          -moz-transition: 0.15s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: 0.15s all cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          #footer-secondary .footer-secondary .footer-links li a:hover {
            border-bottom: 2px solid white; }
        #footer-secondary .footer-secondary .footer-links li:first-child {
          padding-top: 5px; }
    #footer-secondary .footer-secondary h6 {
      text-align: left;
      text-transform: uppercase;
      font: 14px GothamMedium;
      color: #5D5D5D;
      margin-top: 30px;
      letter-spacing: 1px;
      padding-left: 10px; }

.modal .modal-dialog {
  margin-top: 10%; }
  .modal .modal-dialog .modal-header, .modal .modal-dialog .modal-footer {
    border: none; }
  .modal .modal-dialog .modal-body h3 {
    color: #1B1B1B;
    font: 37px GothamXLight;
    text-align: center;
    margin-top: 25px; }
  .modal .modal-dialog .modal-body h4 {
    margin: 0;
    text-align: center;
    font: 18px/26px "GothamMedium";
    color: #626262; }

.carousel .carousel-indicators {
  top: 10px; }
  .carousel .carousel-indicators li {
    border: 2px solid #BBA97B;
    height: 20px;
    width: 20px;
    margin: 1px !important; }
    .carousel .carousel-indicators li.active {
      background: #BBA97B; }

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity; }
.carousel-fade .carousel-inner .active {
  opacity: 1; }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-control {
  z-index: 2; }

.btn {
  font: 12px 'ProximaNova';
  text-transform: uppercase; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.selectfield {
  *zoom: 1;
  font-weight: 400; }

.selectfield:after {
  clear: both;
  content: "";
  display: table; }

.selectfield-dropdown {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 85%, #BAA87A 85%, #BAA87A 100%);
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1; }
  .selectfield-dropdown h4 {
    margin: 0 0 0 7px;
    color: #5F5F5F;
    font: 20px/20px 'KulturistaMedium';
    text-align: left; }
  .selectfield-dropdown .dropdown li a {
    color: #5F5F5F;
    font: 20px/20px 'KulturistaMedium';
    text-align: left;
    background: #DDDDDF; }
  .selectfield-dropdown .dropdown li:hover a {
    background: #BBA97B;
    color: white; }

.selectfield-dropdown:after {
  content: url("../img/down-caret.png");
  position: absolute;
  right: 22px;
  top: 49%;
  margin-top: -6px; }

.selectfield-dropdown .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  list-style: none;
  font-weight: normal;
  /* Cancels previous font-weight: bold; */
  /* Hiding */
  opacity: 0;
  pointer-events: none;
  max-height: 250px;
  overflow-y: scroll; }

.selectfield-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #5F5F5F;
  padding: 20px;
  padding: 20px 0 20px 25px; }

/* Active state */
.selectfield-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto; }

.selectfield-dropdown.active:after {
  border-color: #9bc7de transparent;
  border-width: 6px 6px 0 6px; }

.selectfield-dropdown.active {
  background: #9bc7de;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 85%, #BAA87A 85%, #BAA87A 100%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

/* No CSS3 support */
.no-opacity .selectfield-dropdown .dropdown,
.no-pointerevents .selectfield-dropdown .dropdown {
  display: none;
  opacity: 1;
  /* If opacity support but no pointer-events support */
  pointer-events: auto;
  /* If pointer-events support but no pointer-events support */ }

.no-opacity .selectfield-dropdown.active .dropdown,
.no-pointerevents .selectfield-dropdown.active .dropdown {
  display: block; }

@media only screen and (min-width: 1200px) {
  #footer-secondary .footer-secondary .social-icons {
    float: right; } }
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6; }

  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

  .intro {
    height: 100%;
    padding: 0; }

  .download-section {
    padding: 100px 0; } }
@media only screen and (max-width: 768px) {
  .line {
    visibility: hidden; }

  .navbar-custom .nav li {
    margin-right: 0 !important; }
    .navbar-custom .nav li a {
      padding-bottom: 13px;
      text-align: center; }
      .navbar-custom .nav li a:hover {
        border: none; }
    .navbar-custom .nav li:nth-child(6) a {
      padding: 13px 0;
      border-radius: 0; }
      .navbar-custom .nav li:nth-child(6) a:hover {
        border: 2px solid #4E4E4E; }
    .navbar-custom .nav li:last-child a {
      padding-left: 0;
      padding: 13px 0; }
  .navbar-custom .navbar-toggle {
    padding: 0; }
    .navbar-custom .navbar-toggle .fa {
      padding-top: 3px; }
  .navbar-custom .navbar-brand {
    padding: 0; }
    .navbar-custom .navbar-brand .logo-light {
      height: 40px;
      margin-top: 8px;
      margin-left: 17px; } }
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar .container {
    width: 100% !important; } }
@media only screen and (max-width: 1200px) {
  .footer-secondary .contact-send-btn {
    width: 190px;
    margin-bottom: 20px; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-custom .navbar-brand .logo-light {
    display: none; }
  .navbar-custom .navbar-brand .logo-light-small {
    display: block; }
  .navbar-custom.top-nav-collapse .navbar-brand .logo-light, .navbar-custom.top-nav-collapse .navbar-brand .logo-dark, .navbar-custom.top-nav-collapse .navbar-brand .logo-light-small {
    display: none; }
  .navbar-custom.top-nav-collapse .navbar-brand .logo-dark-small {
    display: block;
    height: 55px; } }
@media only screen and (min-width: 768px) and (max-width: 956px) {
  .navbar-custom .nav li a {
    font-size: 12px; } }
@media only screen and (max-width: 990px) {
  .line-btn .mid-btn-cta {
    padding: 20px 10%; }

  .brand-heading {
    font: 100 55px "GothamXLight"; }

  br {
    content: " "; }

  br:after {
    content: " "; }

  .navbar-custom .nav li {
    margin-right: 15px; } }
@media only screen and (max-width: 690px) {
  .service-container {
    width: 290px; }
    .service-container .selectfield-container, .service-container .main-cover {
      width: 100%; }
    .service-container .selectfield-dropdown {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 79%, #baa87a 79%, #baa87a 100%); }
      .service-container .selectfield-dropdown:after {
        right: 16px; }

  .selectfield-dropdown h4 {
    white-space: pre-line;
    width: 195px; } }
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer-secondary .contact-send-btn {
    margin-top: 30px; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .navbar-fixed-top {
    position: relative; }

  .intro {
    padding-top: 50px; } }
@media only screen and (min-width: 480px) {
  #services, #case-study {
    padding-top: 128px; } }
@media only screen and (max-width: 480px) {
  .brand-heading {
    font: 100 47px "GothamXLight";
    margin-top: 40px; }

  .intro {
    padding-top: 70px; }

  h3, .body-type {
    text-align: center; }

  .line-btn {
    margin-bottom: 50px; }
    .line-btn .line {
      visibility: hidden; }

  .line-btn .mid-btn-cta {
    font-size: 11px; }

  .testimonial-container .left-testimonial, .testimonial-container .right-testimonial {
    margin-top: 66px; }

  #footer-secondary .footer-secondary h6 {
    padding-left: 0;
    text-align: center; }
  #footer-secondary .footer-secondary .contact-send-btn {
    margin-top: 30px;
    margin-bottom: 20px; }

  #footer-secondary {
    padding-bottom: 50px; }

  .thin-header {
    font: 100 40px/50px "GothamXLight"; }

  .content-section {
    padding-top: 50px; }

  h3 {
    margin-top: 50px !important; }

  p {
    margin-bottom: 0; }

  .content-section#about {
    padding-top: 50px;
    padding-bottom: 0; }
    .content-section#about .thin-header {
      margin-bottom: 35px; }

  .modal .modal-dialog .modal-body {
    padding: 0 10px; }
    .modal .modal-dialog .modal-body h3 {
      font: 28px GothamXLight;
      margin-top: 20px !important; }

  .testimonial-container .right-testimonial, .testimonial-container .left-testimonial {
    padding-left: 15px;
    padding-right: 15px; }

  .second-text-section h5 {
    min-height: 10px; } }
.hidden-from-view {
  display: none; }

.error-field {
  color: #e74c3c !important; }

.disabled-btn {
  opacity: 0.3; }

.subscribe-thanks {
  font: 37px/45px 'GothamMedium';
  display: none; }

.fa-check {
  color: #85CE7C;
  padding-top: 0;
  position: relative;
  top: -2px;
  font-size: 40px; }

@media only screen and (min-width: 768px) and (max-width: 998px) {
  .line-btn .mid-btn-cta {
    font-size: 9px; } }
@media only screen and (min-width: 998px) and (max-width: 1200px) {
  .line-btn .mid-btn-cta {
    font-size: 11px; } }
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .landlord-tenant-proceed h3 {
    font-size: 30px;
    line-height: 40px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .intro, .download-section.first-image, .download-section.second-image {
    background-attachment: scroll; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .intro, .download-section.first-image, .download-section.second-image {
    background-attachment: scroll; }

  #footer .footer-primary input::-webkit-input-placeholder {
    font: 17px/17px 'KulturistaMedium'; }
  #footer .footer-primary input::-moz-placeholder {
    font: 17px/17px 'KulturistaMedium'; }
  #footer .footer-primary input:-ms-input-placeholder {
    font: 17px/17px 'KulturistaMedium'; } }
.selectfield-dropdown .dropdown .head-list a {
  padding: 20px 25px;
  background: #CBCBCB; }
.selectfield-dropdown .dropdown .list-options a {
  padding: 12px 50px; }

.work-list {
  list-style-type: none; }
  .work-list li {
    height: 280px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 0; }
    .work-list li a {
      display: block;
      height: 100%;
      overflow: hidden;
      background-color: black;
      color: #d2d5db;
      text-decoration: none;
      outline: none;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
      .work-list li a:before {
        position: absolute;
        display: inline-block;
        content: "";
        background: #ffffff;
        width: 40px;
        height: 2px;
        left: -50px;
        bottom: 0;
        margin-bottom: 20px;
        z-index: 10;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .work-list li a:after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        color: #ffffff;
        border-top: 3px solid;
        border-left: 3px solid;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        bottom: 0;
        left: -20px;
        margin-bottom: 16px;
        z-index: 10;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .work-list li a .work-img {
        position: relative;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        background-size: cover;
        background-position: center top;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .work-list li a .work-detail {
        position: absolute;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, transparent));
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
        background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
        z-index: 1;
        padding: 30px 100px 30px 25px;
        height: 100%;
        width: 100%;
        width: calc(100%);
        top: 0;
        -webkit-transition: all 0.3s ease-in-out 0.1s;
        -moz-transition: all 0.3s ease-in-out 0.1s;
        transition: all 0.3s ease-in-out 0.1s; }
        .work-list li a .work-detail h3 {
          font-size: 22px;
          color: #ffffff;
          text-transform: uppercase;
          opacity: 0.9;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          margin-bottom: 30px;
          border-bottom: 3px solid;
          display: inline-block;
          padding-bottom: 5px;
          float: left; }
        .work-list li a .work-detail p {
          color: #ffffff;
          font-size: 22px;
          font-size: 2.2rem;
          line-height: 30px;
          line-height: 3rem;
          position: absolute;
          margin-top: 10px;
          width: 70%;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
        .work-list li a .work-detail .work-border {
          position: absolute;
          z-index: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: #DD4815;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s; }
          .work-list li a .work-detail .work-border em {
            float: left;
            font-style: normal;
            font-size: 18px;
            font-weight: 900;
            font: 100 18px "GothamMedium";
            color: white;
            margin-left: 25px;
            margin-top: 8px; }
      .work-list li a:hover .work-img {
        opacity: 0.3; }
      .work-list li a:hover h3 {
        margin-top: 25px; }
      .work-list li a:hover .work-border {
        height: 40px; }
      .work-list li a:hover:after {
        left: 70px;
        opacity: 1;
        -webkit-transition: all 0.6s ease-in-out 0.1s;
        -moz-transition: all 0.6s ease-in-out 0.1s;
        transition: all 0.6s ease-in-out 0.1s; }

.featured-work {
  margin-bottom: 10px; }
  .featured-work li {
    margin-bottom: 0;
    height: 480px; }

.secondary-heading {
  color: #2c3e50;
  text-align: left;
  font-size: 32px;
  font-family: GothamMedium; }

.section-heading {
  text-align: left;
  color: #a1a5ad;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 52px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: ProximaNova; }

.social-icons {
  margin-top: 30px;
  padding-left: 0; }
  .social-icons li {
    display: inline;
    list-style-type: none;
    padding-right: 20px; }
    .social-icons li a .fa {
      color: white;
      font-size: 32px;
      text-align: center;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .social-icons li:last-child {
      padding-right: 0; }
  .social-icons li + li {
    padding-left: 16px; }

/*# sourceMappingURL=styles.css.map */
